CYCLIC_DB=your dynamo db name

LINE_CHANNEL_SECRET=miku's channel secret
LINE_CHANNEL_ACCESS_TOKEN=miku's channel access token
USER_ID=master's user id

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

TOKOPEDIA_SID=
TOKOPEDIA_ORDER_NOTIFY_HOUR=
TOKOPEDIA_ORDER_NOTIFY_MINUTE=
